body{
font-family: 'Lato', sans-serif;
font-weight: 300;
}

hr{
	border-top: 5px solid #eeeeee;
}

img, embed, object, video{
	max-width: 100%;
}

.logo{
	margin-top: 25px;
}

.lato-header{
	font-weight: 300;
}

.lato-subheader{
	font-weight: 200;
}

.lato-featured{
	font-weight: 400;
}